
body{
  // -webkit-font-smoothing: antialiased;
 // -moz-osx-font-smoothing: grayscale;
  margin-top: $pf-spacer-xl;
  color: $gray-lightest;
  background: $gray-dark;
  font-weight: $pf-font-weight-regular;
  &::before{
    content: "";
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
      url("../img/grid-left.svg"),
      linear-gradient(#2B2B2B, #010101);
    background-repeat: no-repeat;
    background-size: 35%, auto;
  }

  @include media-breakpoint-up(lg) {
      margin-top: 0;
  }
}

::selection { background: $brand-primary; }

.conf-brand{
  font-size: 310%;
  font-weight: $pf-font-weight-bold;
  color: $pf-color-white;
  small{
    font-weight: $pf-font-weight-light;
    color: $gray-lightest;
    font-size: $pf-font-size-relative-xs;
  }
  em{
    font-weight: $pf-font-weight-light;
    font-family: $font-family-serif;
    font-weight: $pf-font-weight-light;
    font-size: $pf-font-size-relative-sm;
    font-style: normal;
  }
  strong{
    font-weight: $pf-font-weight-bold;
  }
}

.conf-header {
  h2 {
    font-size: $font-size-h4;
    font-weight: $pf-font-weight-bold;
  }
  time {
    // background: red;
    margin-top: $pf-spacer-xxs;
    font-weight: $pf-font-weight-light;
  }
}

.conf-section {
  // margin-bottom: $pf-spacer-xxxxl;
  padding: $pf-spacer-xxxxl 0 $pf-spacer-xxl 0;
  border-bottom: 1px solid $pf-color-black-200;
  &:first-child {
    padding-top: 0;
  }
}

.conf-section--footer, .conf-section--alt  {
    @include media-breakpoint-up(lg) {
      // background-image: linear-gradient(rgba(0,0,0,.2) 0px, transparent 10px,  transparent);
      // box-shadow: inset 0 4px 8px rgba(0,0,0,.2);
      background-color: $pf-color-black-900;
      color: $pf-color-black-200;
      margin-left: -$grid-gutter-width-base*2;
      margin-right: -$grid-gutter-width-base*2;
      margin-bottom: 0;
      border: none;
      padding: $pf-spacer-xxxl $grid-gutter-width-base*2 $pf-spacer-xxl $grid-gutter-width-base*2;

    }
}

.conf-section--alt  {
  @include media-breakpoint-up(lg) {
    background-color: $pf-color-black-800;
  }
}


.conf-section__header{
  text-transform: uppercase;
  font-weight: $pf-font-weight-light;
  font-size: $font-size-sm;
}
.conf-section__title{
  font-size: $font-size-h2;
  font-weight: 500;
  margin: 0 0 $pf-spacer-lg 0;
}
.conf-speaker__avatar{
  position: relative;
  img{
    width: 50%;
    display: block;
//    clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 50%);
    @include media-breakpoint-up(lg) {
      width: 25%;
    }
  }
  &::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 25%;
    top: 0;
    bottom: 0;
    border: 1px solid $brand-primary;
    // mix-blend-mode: color;
    background:
      linear-gradient(45deg, transparent 15%, $pf-color-blue-700 15%, $pf-color-blue-700 20%, transparent 20%, transparent 100%) 0 0,
      linear-gradient(45deg, $brand-primary 21%, transparent 21%, transparent 100%) 0 0,
      linear-gradient(-135deg, $brand-primary 15%, transparent 15%, transparent 100%) 0 0;
  }
}


.conf-header{
  position: sticky;
  top: 3em;
  margin-bottom: 4em;
}

.event__title {
  margin-bottom: $pf-spacer-md;
  width: 50%;
  @include media-breakpoint-up(lg) {
    width: 100%;
  }
}

.main {
  color: $pf-color-black-900;
  // color: rgba(255, 255, 255, .8);
  // margin-top: 7em;
  // background-image: linear-gradient(rgba(255,255,255,.1), transparent);
  // background-image: linear-gradient( -135deg, rgba($brand-primary, .7) 10%, transparent),
  // linear-gradient( 45deg, $pf-color-purple-600 10%, transparent)
  // ;
  background: #fff;
  padding-top: $pf-spacer-xxxl;
  // mix-blend-mode: screen;
}

.sponsor-logo {
  max-width: 10rem;
  max-height: 2rem;
}

.event__details {
  text-transform: uppercase;
}
