body {
  margin-top: $pf-spacer-xl;
  color: $gray-lightest;
  background-color: $gray-dark;
  background-image:
  url("../img/grid-left.svg"),
  linear-gradient(#2B2B2B, #010101);
  background-repeat: no-repeat;
  background-size: 100%, auto;
  background-attachment: fixed;
  @include media-breakpoint-up(lg) {
    background-size: 35%, auto;
    margin-top: 0;
  }
}

::selection {
  background: $brand-primary;
  color: $pf-color-white;
}


// Header

.event{
  position: sticky;
  top: 3em;
  margin-bottom: 4em;
}

.event__title {
  margin-top: 0;
  margin-bottom: $pf-spacer-xxl;
  img{
    width: 50%;
    @include media-breakpoint-up(lg) {
      width: 100%;
    }
  }
}

.event__details {
  text-transform: uppercase;
  font-weight: $pf-font-weight-light;
  margin-bottom: $pf-spacer-xxxl;
  time {
    display: block;
    margin-bottom: $pf-spacer-md;
  }
}


// Main Area

.main {
  color: $pf-color-black-900;
  background: #fff;
}


// Section

.conf-section {
  padding: $pf-spacer-xxxxl 0 $pf-spacer-xxl 0;
  border-bottom: 1px solid $pf-color-black-200;
  &:first-child {
    padding-top: 0;
  }
}

.conf-section__header{
  text-transform: uppercase;
  font-weight: $pf-font-weight-light;
  font-size: $font-size-sm;
  margin-top: 0;
}

.conf-section__title{
  font-weight: 500;
  margin-top: 0;
}


// Footer

.conf-section--footer, .conf-section--alt  {
  @include media-breakpoint-up(lg) {
    background-color: $pf-color-black-900;
    color: $pf-color-black-200;
    margin-left: -$grid-gutter-width-base*2;
    margin-right: -$grid-gutter-width-base*2;
    margin-bottom: 0;
    border: none;
    padding: $pf-spacer-xxxl $grid-gutter-width-base*2 $pf-spacer-xxl $grid-gutter-width-base*2;
    box-shadow: inset 0 .1em .4em rgba(0,0,0,.2);
    a {
      color: $pf-color-blue-200;
    }
  }
}

.conf-section--alt  {
  @include media-breakpoint-up(lg) {
    background-color: $pf-color-black-700;
  }
}

.conf-section--alt-two  {
  @include media-breakpoint-up(lg) {
    background-color: $pf-color-black-800;
  }
}


// speakers
@mixin pseudo-elem {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}

@mixin filter-base {
  position: relative;

  img {
    width: 100%;
    z-index: 1;
  }

  &:before {
    @include pseudo-elem;
    z-index: 2;
  }

  &:after {
    @include pseudo-elem;
    z-index: 3;
  }
}

@mixin walden($filters...) {
  @include filter-base;
  filter: brightness(1.1) hue-rotate(-10deg) sepia(.3) saturate(1.6) $filters;

  &::after {
    background: rgb(0, 68, 204);
    mix-blend-mode: screen;
    opacity: .3;
  }

  @content;
}

// walden Instagram filter
%walden,
.walden {
  @include walden;
}

.conf-speaker__avatar {
  transition: all .3s ease-in-out;
  // filter: sepia(.3) contrast(1.1) brightness(1.1) grayscale(.95);
  @include walden;
  border: 1px solid $pf-color-black-400;
  &:hover {
    filter: none;
  }
  img {
    width: 100%;
    display: block;
  }
}

.conf-speaker-name {
  margin-top: $pf-spacer-xxs;
  margin-bottom: $pf-spacer-xxs;
  font-weight: $pf-font-weight-semi-bold;
}

.conf-speaker-title {
  font-size: $font-size-sm;
}
.conf-speaker {
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover {
    color: $pf-color-blue-400;
  }
}

.conf-speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .conf-speaker {
    flex: 0 0 46%;
    margin-bottom: $pf-spacer-md;
  }
}

// nav
nav{
  display: none;
  background: rgba(255,255,255,.9);
  // background: red;
  border-bottom: 1px solid $pf-color-black-150;
  @include media-breakpoint-up(lg) {
    display: block;
    position: sticky;
    margin: 0 (-$grid-gutter-width-base*2);
    padding: 0 (($grid-gutter-width-base*2) - $pf-spacer-sm);
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      // justify-content: center;
    }
    a {
      display: block;
      padding: $pf-spacer-xxs $pf-spacer-sm;
      font-weight: $pf-font-weight-light;
      font-size: $pf-font-size-relative-sm;
      text-transform: uppercase;
      color: $pf-color-black-400;
      &:hover {
        background: rgba(0,0,0,.1);
        color: $pf-color-black-500;
        text-decoration: none;
      }
    }
  }
}

.modal-dialog {
  max-width: 650px;
}

.modal-title {
  margin: 0;
  font-size: $font-size-lg;
}

.modal-body {
  position: relative;
  h3 {
    margin-top: $pf-spacer-xxxl;
    font-weight: $pf-font-weight-semi-bold;
  }
  .close {
    position: absolute;
    top: $modal-inner-padding;
    right: $modal-inner-padding;
    z-index: $zindex-popover;
  }
}


.conf-modal-header{
  position: relative;
  margin: -($modal-inner-padding);
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
    color: $pf-color-white;
    margin: 0;
    padding: $modal-inner-padding;
    small {
      display: block;
      margin-top: $pf-spacer-xxs
    }
  }
}

// .conf-speaker__avatar{
//   position: relative;
//   img{
//     width: 50%;
//     display: block;
// //    clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 50%);
//     @include media-breakpoint-up(lg) {
//       width: 25%;
//     }
//   }
//   &::before{
//     content: "";
//     position: absolute;
//     height: 100%;
//     width: 25%;
//     top: 0;
//     bottom: 0;
//     border: 1px solid $brand-primary;
//     // mix-blend-mode: color;
//     background:
//       linear-gradient(45deg, transparent 15%, $pf-color-blue-700 15%, $pf-color-blue-700 20%, transparent 20%, transparent 100%) 0 0,
//       linear-gradient(45deg, $brand-primary 21%, transparent 21%, transparent 100%) 0 0,
//       linear-gradient(-135deg, $brand-primary 15%, transparent 15%, transparent 100%) 0 0;
//   }
// }
// .sponsor-logo {
//   max-width: 10rem;
//   max-height: 2rem;
// }
table {
  small {
    display: block;
  }
}
td[data-toggle="modal"]{
  transition: all .3s ease-in-out;
  &:hover{
    background: $pf-color-black-150;
    cursor: pointer;
    color: $pf-color-blue-400;
  }
}
.conf-col-time {
  width: 10%;
}
.conf-col-talk {
  width: 45%;
}

.break {
  td{
    padding-top: $pf-spacer-xxxs;
    padding-bottom: $pf-spacer-xxxs;
  }
}
